[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
joblib = "*"
flask = "*"
flask-restplus = "*"
streamlit = "*"
requests = "*"
Pillow = "*"
pylint = "*"
pytest = "*"
black = "*"
pyspark = "*"

[dev-packages]

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
